html, body {
  padding: 0;
  max-width: 400px;
  height: 400px;
}

.full {
  width: 100%;
}

input[type=text] {
  padding: 1em;
}

.input {
  padding-bottom: 1rem;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: text-top;
}