input[type='checkbox'] {
  margin-left: 0;
}

h3 {
  margin-top: 0;
}

body {
  width: 300px;
}

#current_wallpaper {
  display: block;
  margin-bottom: 1rem;
}

#current_wallpaper img, #current_wallpaper object {
  width: 100%;
  min-height: 169px;
  height: auto;
}