input[type='checkbox'] {
  margin-left: 0;
}

h3 {
  margin-top: 0;
}

body {
  width: 300px;
}

#current_wallpaper img {
  width: 100%;
  min-height: 169px;
  height: auto;
  border: 1px gray solid;
  margin-bottom: 1rem;
}