#backgroundit-chromext {
  width: 100%;
  height: 100%;
}

#backgroundit-chromext {
  background-size: cover !important;
}

#backgroundit-chromext {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#backgroundit-chromext {
  pointer-events: none;
  -webkit-transform: translateZ(0);
}